/build/

.vscode/
*.code-workspace

*.log
*.elf
*.map

*.d
*.dmp

*.bin
*.hex

sdkconfig
sdkconfig.old

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeLists.txt.user

.ninja_deps
.ninja_log
build.ninja
rules.ninja

*.o
*.obj
*.a
*.lib
*.exe
*.out

.DS_Store
Thumbs.db

*.tmp
*.swp
*.swo
*.bak
*~